li.radio-item
	.radio-item-box
		.radio-item-icon
			span.icons.icon-stop
			span
				img(src="favicon.png" alt="Логотип радиостанции")
		.radio-item-wrap
			span.station-name
				|Название радиостанции Название радиостанции
		.radio-item-handler
			span.icon-handler
				span.top
					|▲
				span.center
					|●
				span.bottom
					|▼