*.btn,
a.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	display: inline-block;
	background-color: #0098ff;
	color: #ffffff;
	box-shadow: 0 0 2px #0098ff;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
	transition: all 0.5s ease;
	border: none;
	appearance: none;
	outline: none !important;
	min-width: 117px;
	cursor: pointer;
	line-height: 1;
	font-weight: 900;
}

*.btn:hover,
a.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
*.btn:focus,
a.btn:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
*.btn:active,
a.btn:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
	background-color: #0098ff;
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0 0 2px #0098ff;
	box-shadow: 0 0 1px 1px #fff, 0 0 8px 1px #0098ff;
}
*.btn:focus-visible,
a.btn:focus-visible,
button:focus-visible,
input[type="button"]:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible {
	background-color: #0098ff;
	color: #ffffff;
	box-shadow: 0 0 1px 1px #fff, 0 0 8px 1px #0098ff;
}