dialog.dialogBox {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 80%;
	min-width: 700px;
	min-height: 180px;
	right: auto;
	bottom: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1em;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2000;
	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
	}
	.buttons,
	.wrap {
		user-select: none;
	}
	&[open] {
		display: flex;
	}
	&[type=alert] {
		#cancel {
			display: none;
		}
	}
}
