.volume-block {
	margin-left: -15px;
	margin-right: -11px;
	height: 16px;
	background-color: #333;
}
input[type="range"] {
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	&,
	&:focus,
	&:focus-within {
		appearance: none;
		background: none;
	}
	&:focus,
	&:focus-within {
		outline: inherit;
		outline-width: 1px;
		outline-style: dashed;
		outline-color: #ff7000;
		outline-offset: -1px;
	}
	&::-webkit-slider-runnable-track {
		height: 5px;
		box-shadow: 0 0 1px 1px #ff7000;
		background-color: #fff;
		background-image: linear-gradient(to right, #ff7000 0%, #ff7000 var(--background-range), #ffffff var(--background-range), #ffffff 100%);
	}
	&::-webkit-slider-thumb {
		cursor: col-resize;
		border-radius: 50%;
		box-shadow: inset 0 0 1px 10px #ff7000;
		margin-top: -6px;
		&:hover {
			box-shadow: inset 0 0 1px 10px #fdc9a0;
		}
	}
}