:root {
	color-scheme: light dark;
}

* {
	&,
	&:after,
	&:before {
		box-sizing: border-box;
	}
}
body {
	margin: 0px;
	font-family: 'Bender', 'sans-serif';
	background-image: radial-gradient(circle,#fdc9a0,#ff7000);
}
html,
body {
	height: 100%;
	position: relative;
	overflow: hidden;
}
img {
	max-width: 100%;
}
input[type=checkbox] {
	position: relative;
	cursor: pointer;
	appearance: none;
	width: 1em;
	height: 1em;
	outline: none;
	&:focus,
	&:focus-within {
		outline: #fec597 dashed 1px;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 0 1px 1px #fc7409;
		//border: 2px solid #fc7409;
		border-radius: 3px;
		background-color: white;
	}
	&:hover:before,
	&:checked:before {
		box-shadow: 0 0 2px 1px #fc7409
	}
	&:checked:after {
		content: "";
		display: block;
		width: 42%;
		height: 69.7%;
		border: solid #fc7409;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		top: 0.05em;
		left: 0.29em;
	}
}
.clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}
.appBlock {
	visibility: visible;
	background-color: rgba(255, 255, 255, .95);
	z-index: 99999;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 1s ease, z-index .3s ease;
}
.hidden {
	visibility: hidden;
	z-index: -100;
	opacity: 0;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
}
a.github.icon-github {
    font-size: 20px;
    text-decoration: none;
}
p.right,
p.left {
	width: 26px;
}
p.left {
	text-align: right;
	opacity: 0;
	transition: opacity .5s ease;
	&.visible {
		opacity: 1;
	}
}
p.right {
	text-align: left;
}
#cropTmp {
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 20;
	width: 180px;
	height: 180px;
}
.blue {
	color: #0098ff;
}