.text {
	&-left {
		text-align: left;
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-justify {
		text-align: justify;
	}
}
span.writ {
	color: #ffffff;
	opacity: 0;
	transition: opacity .3s ease;
	user-select: none;
	pointer-events: none;
	&.visible {
		opacity: 1;
	}
}
