.vizualizer {
	display: none;
	&,
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}
.fullscreen {
	.vizualizer {
		&,
		canvas {
			display: block;
			z-index: 2;
		}
		canvas {
			cursor: none;
		}
	}
	&.mouse {
		.vizualizer {
			canvas {
				cursor: default;
			}
		}
	}
}
