doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		#TitleBar
			#TitleBar-icon
				img(src="favicon.png" alt="")
			#TitleBar-text
				span
					|Title Bar
			#TitleBar-buttons
				span#minimized
					svg(aria-hidden="true" version="1.1" width="10" height="10")
						path(d="M 0,5 10,5 10,6 0,6 Z")
				span#restored
					svg(aria-hidden="true" version="1.1" width="10" height="10")
						path(d="M 0,0 0,10 10,10 10,0 Z M 1,1 9,1 9,9 1,9 Z")
				span#close
					svg(aria-hidden="true" version="1.1" width="10" height="10")
						path(d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z")
		main.loading
			.container
				.row
					ul#radio-list(data-title="Your Radio")
						//include inc/radioitem.pug
				.volume-block
					input#volume(min="0" max="100" value="1" type="range" tabindex="-1")
			.appBlock.hidden
		footer.clearfix
			.footer_wrap
				p.ring.write
					|A
				p.text-center
					|Developed by  
					a(href="https://projectsoft.ru/" target="_blank" title="https://projectsoft.ru/") ProjectSoft
					br
					|&copy; 2008 - all
				p.ring
					a.github(href="https://github.com/ProjectSoft-STUDIONIONS/radioApp-lite" target="_blank", title="https://github.com/ProjectSoft-STUDIONIONS/radioApp-lite")
							|A
		script(type="text/javascript" src="js/plugins.js")
		script(type="text/javascript" src="js/main.js")