@bgcolor: #ff7000;
@bgcolor-center: #fdc9a0;
@loading-time: 1s;

@tags-editor-bgcolor: @bgcolor;
@tags-editor-btn-bgcolor: darken(@bgcolor, 10%);
@tags-editor-btn-hover-bgcolor: darken(@bgcolor, 30%);
@tags-editor-tag-color: rgb(255, 255, 255);
@tags-editor-gap: .3em;
