@icon-circle-check: "\e900";
@icon-close: "\e901";
@icon-copy: "\e902";
@icon-export: "\e903";
@icon-external-link: "\e904";
@icon-facebook: "\e905";
@icon-favorites: "\e906";
@icon-fullscreen-off: "\e907";
@icon-fullscreen-on: "\e908";
@icon-fullscreen: "\e909";
@icon-go: "\e90a";
@icon-import: "\e90b";
@icon-level: "\e90c";
@icon-ok: "\e90d";
@icon-pause: "\e90e";
@icon-picture: "\e90f";
@icon-play: "\e910";
@icon-radio: "\e911";
@icon-refresh: "\e912";
@icon-search: "\e913";
@icon-settings: "\e914";
@icon-twitter: "\e915";
@icon-vk: "\e916";
@icon-volume: "\e917";
@icon-web-search: "\e918";

@font-face {
	font-family:"Radio App";
	
	src:url("/fonts/radioapp.woff2") format("woff2");
	font-weight:normal;
	font-style:normal;
	font-display: swap;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "Radio App" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle-check {
	&:before {
		content: @icon-circle-check;
	}
}
.icon-close {
	&:before {
		content: @icon-close;
	}
}
.icon-copy {
	&:before {
		content: @icon-copy;
	}
}
.icon-export {
	&:before {
		content: @icon-export;
	}
}
.icon-external-link {
	&:before {
		content: @icon-external-link;
	}
}
.icon-facebook {
	&:before {
		content: @icon-facebook;
	}
}
.icon-favorites {
	&:before {
		content: @icon-favorites;
	}
}
.icon-fullscreen-off {
	&:before {
		content: @icon-fullscreen-off;
	}
}
.icon-fullscreen-on {
	&:before {
		content: @icon-fullscreen-on;
	}
}
.icon-fullscreen {
	&:before {
		content: @icon-fullscreen;
	}
}
.icon-go {
	&:before {
		content: @icon-go;
	}
}
.icon-import {
	&:before {
		content: @icon-import;
	}
}
.icon-level {
	&:before {
		content: @icon-level;
	}
}
.icon-ok {
	&:before {
		content: @icon-ok;
	}
}
.icon-pause {
	&:before {
		content: @icon-pause;
	}
}
.icon-picture {
	&:before {
		content: @icon-picture;
	}
}
.icon-play {
	&:before {
		content: @icon-play;
	}
}
.icon-radio {
	&:before {
		content: @icon-radio;
	}
}
.icon-refresh {
	&:before {
		content: @icon-refresh;
	}
}
.icon-search {
	&:before {
		content: @icon-search;
	}
}
.icon-settings {
	&:before {
		content: @icon-settings;
	}
}
.icon-twitter {
	&:before {
		content: @icon-twitter;
	}
}
.icon-vk {
	&:before {
		content: @icon-vk;
	}
}
.icon-volume {
	&:before {
		content: @icon-volume;
	}
}
.icon-web-search {
	&:before {
		content: @icon-web-search;
	}
}