body {
	> main {
		background-repeat: no-repeat;
		background-attachment: fixed, fixed;
		background-image: data-uri('lazy_bg.svg'), radial-gradient(circle, #fdc9a0, #ff7000);
		background-position: center bottom, center center;
		background-size: cover, cover;
		position: relative;
		.wrapper {
			h1 {
				&::before {
					background-image: data-uri('icon.png');
				}
			}
		}
	}
}