* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
.clearfix {
	&::before,
	&::after {
		display: table;
		clear: both;
		content: "";
	}
}
html,
body {
	min-height: 100vh;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	flex-direction: column;
}
body {
	> header,
	> footer {
		flex: 0;
		background-color: black;
		&,
		* {
			color: white;
		}
	}
	> main {
		flex: 1;
	}
}

.wrapper {
	.clearfix();
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}