body {
	> main {
		background-repeat: no-repeat;
		background-attachment: fixed, fixed;
		background-image: radial-gradient(circle, #fdc9a0, #ff7000), data-uri('lazy_bg.svg');
		background-position: center center, center bottom;
		background-size: cover, cover;
		position: relative;
	}
}