doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(charset="utf-8")
		base(href="https://" + userSite + ".github.io/" + repo + "/")
		link(rel="shortcut icon" type="image/x-icon" href="https://" + userSite + ".github.io/" + repo + "/favicon.ico")
		link(rel="icon" type="image/png" href="https://" + userSite + ".github.io/" + repo + "/favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="yandex-verification" content="")
		title Your Radio Light | Ваше Радио (облегчённая версия)
		meta(name="title" content="Your Radio Light | Ваше Радио (облегчённая версия)")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="https://" + userSite + ".github.io/" + repo + "/css/main.css?hash=" + hash)
	body
		header.clearfix
			.wrapper
				a.link-repo(href="https://github.com/" +  userRepo + "/" + repo target="_blank")
					.octocat
						include ../../src/glyph/github.svg
					.github
						|GitHub
		main.clearfix
			.wrapper
				h1
					|Your Radio Light | Ваше Радио (облегчённая версия)
				.github-icons
					a(href="https://github.com/" + userRepo + "/" + repo + "/releases/latest" target="_blank")
						img(src="https://img.shields.io/github/v/release/" + userRepo + "/" + repo + "?style=for-the-badge" alt="Github Latest radioApp-lite")
					a(href="https://github.com/" + userRepo + "/" + repo + "/blob/master/LICENSE" target="_blank")
						img(src="https://img.shields.io/github/license/" + userRepo + "/" + repo + "?style=for-the-badge" alt="Github LICENSE radioApp-lite")
					a(href="https://github.com/" + userRepo + "/" + repo + "/" target="_blank")
						img(src="https://img.shields.io/github/repo-size/" + userRepo + "/" + repo + "?style=for-the-badge" alt="Github Repo")
					a(href="https://github.com/" + userRepo + "/" + repo + "/releases/latest/download/YourRadioLightSetup.exe" target="_blank")
						img(src="https://img.shields.io/github/downloads/" + userRepo + "/" + repo + "/total?style=for-the-badge" alt="Github Download radioApp-lite")
				p
					|Когда-то давно мною было разработано расширение для браузеров - «Онлайн радио в твоём браузере»
				p
					|Поддерживать проект на плаву было не выгодно. Не любит российский сектор донатить)))
				p
					|Так как расширение было основано на моём хобби слушать интернет радио, то я решил перенести всё это дело на платформу Node Webkit JavaScript. Node Webkit JavaScript (nwjs) основан на известном всем браузерном движке chromenium, который лежит в основе самых современных браузеров, как Chrome, Yandex, Opera и т. д..
				p
					|В этом приложении пользователь будет сам управлять списком радиостанций, добавление, редактирование, удаление, экспорт списка со всеми надстройками и, соответственно, импорт.
				p.text-center
					a(href="https://github.com/" + userRepo + "/" + repo + "/raw/main/src/screen.png?raw=true" data-fancybox="screen")
						img(src="https://github.com/" + userRepo + "/" + repo + "/raw/main/src/thumb.screen.png?raw=true" alt="Your Radio Light | Ваше Радио (облегчённая версия)" title="Your Radio Light | Ваше Радио (облегчённая версия)")
		footer.clearfix
			.wrapper
				span.copyright
					|Copyright &copy; 2008 - all right reserved
				span.developer
					a(href="https://github.com/" + userRepo + "/" target="_blank")
						|ProjectSoft
		script(src="https://" + userSite + ".github.io/" + repo + "/js/main.js?hash=" + hash type="text/javascript")
		include yandex.html