doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(charset="utf-8")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
		link(rel="icon" type="image/png" href="favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="yandex-verification" content="")
		title Your Radio Light | Ваше Радио (облегчённая версия)
		meta(name="title" content="Your Radio Light | Ваше Радио (облегчённая версия)")
		link(type="text/css" rel="stylesheet" href="css/main.css")
	body
		header.clearfix
		main.clearfix
			h1 Your Radio Light | Ваше Радио (облегчённая версия)
		footer.clearfix
		script(src="js/main.js" type="text/javascript")